.Navbar {
    background: rgb(10, 14, 243);
    max-width: 100vw;
    padding: 1.5rem;
    display: flex;
    justify-content: space-around;
}
.Navbar a {
    text-decoration: none;
    color: white;
}
.Navbar a.act {
    color: tomato;
}