#rotate {
    animation: rotation 2s infinite linear;
    height: 500px;
    width: 350px;
    margin : 0px 150px
}

@keyframes rotation {
    from {
            -webkit-transform: rotate(0deg);
    }
    to {
            -webkit-transform: rotate(359deg);
    }
}
.main {
    display: flex;
    justify-content: space-between;
} 
.content {
    margin-top: 200px;
    height: 100px;
    width: 150px;
    background : black;
    color : white;
    text-align: center;
    border-radius: 5px;
}
.content a {
    color: white;
}
.content p {
    margin-top: 15px;
}